@{
    ViewBag.Title = "Portfolio";
}

<h1 class="pageTitle">Portfolio</h1>
<div class="row rowSep30">
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-1.jpg")" alt="Item_1"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">Muggie Ramadani</h2></a>
            <a class="portfolioItemLink" href="">muggieramadani.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Animation,</span>
                <span class="tag">Graphics</span>
            </div>
        </div>
    </section>
</div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-2.jpg")" alt="Item_2"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">Hard Graft</h2></a>
            <a class="portfolioItemLink" href="">hardgraft.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Design,</span>
                <span class="tag">Music</span>
            </div>
        </div>
    </section>
</div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-3.jpg")" alt="Item_3"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">NASA GeneLAb</h2></a>
            <a class="portfolioItemLink" href="">genelab.nasa.gov</a>
            <div class="portfolioItemTags">
                <span class="tag">Web,</span>
                <span class="tag">Design</span>
            </div>
        </div>
    </section>
</div>
<div class="cf hidden visibleMOnly"></div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")" ><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-4.jpg")" alt="Item_4"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">Studio LIn</h2></a>
            <a class="portfolioItemLink" href="">studiolin.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Branding,</span>
                <span class="tag">Illustration,</span>
                <span class="tag">Print</span>
            </div>
        </div>
    </section>
</div>
<div class="cf hidden visibleLOnly"></div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-5.jpg")" alt="Item_5"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">Rally Interactive</h2></a>
            <a class="portfolioItemLink" href="">rallyinteractive.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Fashion,</span>
                <span class="tag">Illustration</span>
            </div>
        </div>
    </section>
</div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-6.jpg")" alt="Item_6"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">SO Creative Studio</h2></a>
            <a class="portfolioItemLink" href="">socreative.uk</a>
            <div class="portfolioItemTags">
                <span class="tag">Web,</span>
                <span class="tag">Design</span>
            </div>
        </div>
    </section>
</div>
<div class="cf hidden visibleMOnly"></div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-7.jpg")" alt="Item_7"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">Éléphant</h2>
            <a class="portfolioItemLink" href="">resto-elephant.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Branding,</span>
                <span class="tag">Graphic,</span>
                <span class="tag">Design</span>
            </div>
        </div>
    </section>
</div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-8.jpg")" alt="Item_8"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">Zazn Meditation App</h2></a>
            <a class="portfolioItemLink" href="">zazmeditation.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Web,</span>
                <span class="tag">Design</span>
            </div>
        </div>
    </section>
</div>
<div class="cf hidden visibleLOnly"></div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-1.jpg")" alt="Item_1"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")"><h2 class="portfolioItemTitle">Muggie Ramadani</h2></a>
            <a class="portfolioItemLink" href="">muggieramadani.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Animation,</span>
                <span class="tag">Graphics</span>
            </div>
        </div>
    </section>
</div>
<div class="cf hidden visibleMOnly"></div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-2.jpg")" alt="Item_2"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")"><h2 class="portfolioItemTitle">Hard Graft</h2></a>
            <a class="portfolioItemLink" href="">hardgraft.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Design,</span>
                <span class="tag">Music</span>
            </div>
        </div>
    </section>
</div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-3.jpg")" alt="Item_3"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">NASA GeneLAb</h2></a>
            <a class="portfolioItemLink" href="">genelab.nasa.gov</a>
            <div class="portfolioItemTags">
                <span class="tag">Web,</span>
                <span class="tag">Design</span>
            </div>
        </div>
    </section>
</div>

<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-4.jpg")" alt="Item_4"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">Studio LIn</h2></a>
            <a class="portfolioItemLink" href="">studiolin.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Branding,</span>
                <span class="tag">Illustration,</span>
                <span class="tag">Print</span>
            </div>
        </div>
    </section>
</div>
<div class="cf hidden visibleMOnly"></div>
<div class="cf hidden visibleLOnly"></div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-5.jpg")" alt="Item_5"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">Rally Interactive</h2></a>
            <a class="portfolioItemLink" href="">rallyinteractive.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Fashion,</span>
                <span class="tag">Illustration</span>
            </div>
        </div>
    </section>
</div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-6.jpg")" alt="Item_6"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">SO Creative Studio</h2></a>
            <a class="portfolioItemLink" href="">socreative.uk</a>
            <div class="portfolioItemTags">
                <span class="tag">Web,</span>
                <span class="tag">Design</span>
            </div>
        </div>
    </section>
</div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-7.jpg")" alt="Item_7"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">Éléphant</h2></a>
            <a class="portfolioItemLink" href="">resto-elephant.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Branding,</span>
                <span class="tag">Graphic,</span>
                <span class="tag">Design</span>
            </div>
        </div>
    </section>
</div>
<div class="cf hidden visibleMOnly"></div>
<div class="cf hidden visibleMOnly"></div>
<div class="S12 M4 L3 colSep30">
    <section class="portfolioItem">
        <div class="portfolioItemImg">
            <a href="@Url.Action("PortfolioPreview")"><img src="@Url.Content("~/Content/images/portfolioPreview/Untitled-8.jpg")" alt="Item_8"/></a>
        </div>
        <div class="portfolioItemInfo">
            <a href="@Url.Action("PortfolioPreview")" class="portfolioItemTitleLink"><h2 class="portfolioItemTitle">Zazn Meditation App</h2></a>
            <a class="portfolioItemLink" href="">zazmeditation.com</a>
            <div class="portfolioItemTags">
                <span class="tag">Web,</span>
                <span class="tag">Design</span>
            </div>
        </div>
    </section>
</div>
<div class="cf hidden visibleLOnly"></div>
</div>
